*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  color:white;
}
p{
  color:white;
  display: inline-block;
}
#button{
  width: 20px;
  height: 20px;
  display: inline-block;
}
body{
  background-image: url(https://squareportal.files.wordpress.com/2016/03/kingsglaiveffxvwallpaper.jpg?w=1905);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.trama{
  font-size: 1.3em;
  color:white;
  display: none;
}
.film_trama{
  color:white;
  border: 1px solid white;
  display: none;
}
.filtro{
  background-color: rgba(0, 0, 0, 0.7);
}
